*{
    /*style is to prevent page from reloading while swiping down*/
    position: absolute;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    user-select: none;
}
html{
    top:0px;
}
body{
    top:0px;
    z-index: -20;
    background: linear-gradient(135deg,white,black);
    transition: all 1s;
}
.wrap{
    top: 0px;
    z-index: -19;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.cube,.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
}
.main{
    position: relative;
}
.con{
    height: 600px;
    width: auto;
    position: relative;
    display: block;
}
.fac{
    margin-top: 100px;
    width: 250px;
    height: 250px;
    background: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.facd{
    margin-top: 100px;
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
canvas{
    width: 300px;
    height: 300px;
    background: black;
    transform: scale(0.82);
}
img{
    width: 250px;
    height: 250px;
}
button:hover{
    outline: none;
}

.con{
    overflow-y: initial;
}
.con h1{
    width: auto;
    height: auto;
    overflow-y: initial;
    position: relative;
    text-align: center;
    margin-top: 10px;
    color: white;
    padding: 20px 20px;
    text-shadow: 0px 1px 1px black,0px -1px 1px white;
}
.con h1.pow{
    margin-top: 20px;
    color: blue;
    text-shadow: 0px 0px 1px #6e38ef;
}
.plapau{
    overflow-y: initial;
    position: relative;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: radial-gradient(circle,white 0%,transparent 75%);
    color: black;
}
.plapau i{
    width: auto;
    height: auto;
}
.plapau.pow{
    border: 1px solid #6e38ef;
    color: blue;
    text-shadow: 0px 0px 30px rgba(100,100,255,0.7);
    box-shadow: 0px 0px 10px rgba(100,100,255,0.7);
}
.plapau.load{
    color: #0f0;
}
.plapau.load::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-left: 3px solid #0f0;
    border-right: 3px solid #0f0;
    animation: rotload 1s linear infinite;
    border-radius: 50%;
}
.plapau.err{
    color: #f00;
}
.plapau.err::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 50%;
}
@keyframes rotload{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
