*{
    /*style is to prevent page from reloading while swiping down*/
    position: absolute;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
::selection{
    color: none;
    background: none;
}
html{
    top:0px;
}
body{
    top:0px;
    z-index: -20;
    transition: all 1s;
}
.wrap{
    top: 0px;
    z-index: -19;
    background-position: bottom right;
    background-size: 200px 200px;
    background-repeat: no-repeat;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(135deg,white,black);
}
.cube,.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
}
.cube{
    width: 350px;
    height: 500px;
}
.main{
    position: relative;
}
.con{
    height: 600px;
    width: auto;
    position: relative;
    display: block;
}
.fac{
    margin-top: 100px;
    width: 250px;
    height: 250px;
    background: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.facd{
    margin-top: 100px;
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
canvas{
    width: 300px;
    height: 300px;
    background: black;
    transform: scale(0.82);
}
img{
    width: 250px;
    height: 250px;
}
button:hover{
    outline: none;
}

.con{
    overflow-y: initial;
}
.con h1{
    width: auto;
    height: auto;
    overflow-y: initial;
    position: relative;
    text-align: center;
    margin-top: 10px;
    color: white;
    padding: 20px 20px;
    text-shadow: 0px 1px 1px black,0px -1px 1px white;
}
.con h1.pow{
    margin-top: 20px;
    color: blue;
    text-shadow: 0px 0px 1px #6e38ef;
}
.plapau{
    overflow-y: initial;
    position: relative;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: black;
    background: radial-gradient(circle,white 0%,transparent 75%);
    border: 1px solid black;
}
.plapau i{
    width: auto;
    height: auto;
}
.plapau.pow{
    border: 1px solid #6e38ef;
    color: blue;
    text-shadow: 0px 0px 30px rgba(100,100,255,0.7);
    box-shadow: 0px 0px 10px rgba(100,100,255,0.7);
}
.plapau.load{
    color: #0f0;
}
.plapau.load::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-left: 3px solid #0f0;
    border-right: 3px solid #0f0;
    animation: rotload 1s linear infinite;
    border-radius: 50%;
}
.plapau.err{
    color: #f00;
}
.plapau.err::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 50%;
}
@keyframes rotload{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader{
    background: #333;
    z-index: -200;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loadspecific 3s linear 1;
    opacity: 0;
}

.loader .load{
    display: block;
    width: auto;
    height: 500px;
}
.loader .load img{
    position: relative;
    width: 350px;
    height: 350px;
}
.loader .load .ld{
    margin-top: 50px;
    width: 60px;
    height: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: visible;
}
.rt{
    overflow: visible;
    animation: rotload 1.5s linear infinite;
}
.rt::after{
    width: 50px;
    height: 50px;
    display: block;
    content: '';
    border: 5px solid transparent;
    border-top-color: #0f0;
    border-bottom-color: #0f0;
    border-radius: 50%;
    animation: magic 0.5s linear infinite;
}

@keyframes loadspecific{
    0%{
        z-index: 200;
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    99%{
        z-index: 200;
        opacity: 0;
    }
    100%{
        z-index: -200;
        opacity: 0;
    }
}
@keyframes magic{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}


footer{
    height: auto;
    bottom: 0px;
}
footer nav{
    width: auto;
    position: relative;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}
footer nav a{
    position: relative;
}
footer nav a i{
    width: auto;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    justify-content: center;
    font-size: 2rem;
    color:white;
}
footer .EndNote{
    position: relative;
    text-align: center;
}
